* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #1b1b1b;
    opacity: 0.8;
}

.header {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.carpediem {
    color: white;
    font-size: 80px !important;
    opacity: 50%;
}

nav {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
}

nav a{
    text-transform: uppercase;
}