
html,body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* VARIABLES */

:root{

    /*COLOR VARIABLES*/

    /*FONT VARIABLES*/
    
    --lato: 'Lato',sans-serif;
}

